SESSION_SECRET=replace-with-a-long-random-string

DA_AUTH_BASE_URL=https://solutions-api.boschconnectedpowersolutions.com
DA_AUTH_ENDPOINT=/driver-analytics/cm/api/auth
DA_AUTH_CLIENT_ID=
DA_AUTH_CLIENT_SECRET=

DA_PREDICTION_BASE_URL=https://solutions-api.boschconnectedpowersolutions.com
DA_PREDICTION_URL_TEMPLATE=/driver-analytics/data/api/predict-result/{id}? &from={from_date}&to={to_date}&application=default

DA_DECRYPT_BASE_URL=https://mscd-dev-prog-da-pred-af.azurewebsites.net
DA_DECRYPT_ENDPOINT=/api/decrypt
DA_DECRYPT_CLIENT_ID=
DA_DECRYPT_CLIENT_SECRET=

DA_REGISTRY_BASE_URL=https://solutions-api.boschconnectedpowersolutions.com
DA_REGISTRY_ENDPOINT=/driver-analytics/cm/api/customers

VLD_AUTH_BASE_URL=https://solutions-api.boschconnectedpowersolutions.com
VLD_AUTH_ENDPOINT=load-detection/cm/api/auth
VLD_AUTH_CLIENT_ID=
VLD_AUTH_CLIENT_SECRET=

VLD_PREDICTION_BASE_URL=https://solutions-api.boschconnectedpowersolutions.com
VLD_PREDICTION_URL_TEMPLATE=/load-detection/data/api/vehicles/{id}?st={from_date}&et={to_date}

VLD_DECRYPT_BASE_URL=https://mscd-dev-prog-da-pred-af.azurewebsites.net
VLD_DECRYPT_ENDPOINT=/api/decrypt
VLD_DECRYPT_CLIENT_ID=
VLD_DECRYPT_CLIENT_SECRET=

VLD_REGISTRY_BASE_URL=https://solutions-api.boschconnectedpowersolutions.com
VLD_REGISTRY_ENDPOINT=/load-detection/cm/api/customers

DATABASE_URL=
MYSQLHOST=
MYSQLPORT=3306
MYSQLUSER=
MYSQLPASSWORD=
MYSQLDATABASE=
